body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3498db;
  text-decoration: none !important;
}

.logo-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin: 0 2rem;
}

.navbar > h1 {
  color: black;
}

.add-album {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-album > h2 {
  margin-left: 2rem;
}

.add-img-btn {
  margin-right: 2rem;
  height: 2.5rem;
  width: 6rem;
  border: 3px solid #5856d6;
  color: #5856d6;
  border-radius: 5px;
  font-weight: 900;
}

.add-img-btn:hover {
  cursor: pointer;
}

.create-album {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  height: 10rem;
  margin: auto;
  border-radius: 10px;
}

.heading > h2 {
  font-weight: 900;
  font-size: 2rem;
}

.input > input {
  border: none;
  height: 2rem;
  border-radius: 10px;
  color: black;
  font-size: larger;
  padding-left: 1rem;
  margin-right: 1rem;
}

.clear {
  height: 2rem;
  border: none;
  background-color: red;
  color: white;
  width: 4rem;
  font-weight: 800;
  border-radius: 10px;
  margin-right: 1rem;
}

.create {
  height: 2rem;
  border: none;
  background-color: blue;
  color: white;
  width: 4rem;
  font-weight: 800;
  border-radius: 10px;
}

.clear,
.create:hover {
  cursor: pointer;
}

.album-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.list-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 12rem;
  background-color: lightgray;
  border: 10px solid lightgray;
  object-fit: contain;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.img-div {
  margin-bottom: 0;
  height: 8rem;
}

.img-div > img {
  width: 100%;
  height: 100%;
}

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}
.title-div > h1 {
  font-size: medium;
  text-decoration: none !important;
  text-transform: capitalize;
}

.list-style:hover {
  border: 10px solid black;
  background-color: bisque;
  color: white;
  cursor: pointer;
  transition: 100ms ease-in-out;
}

.title-div > h1:hover {
  color: white;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.back {
  margin-right: 2rem;
  height: 2.5rem;
  width: 6rem;
  border: 3px solid red;
  color: red;
  border-radius: 5px;
  font-weight: 900;
}

.add-image {
  margin-right: 2rem;
  height: 2.5rem;
  width: 6rem;
  border: 3px solid #5856d6;
  color: #5856d6;
  border-radius: 5px;
  font-weight: 900;
}

.images-in {
  font-weight: 900;
  font-size: 2rem;
}

.images-in > span {
  color: blue;
  text-transform: capitalize;
  font-style: italic;
}

.back,
.add-image:hover {
  cursor: pointer;
}

.hidden-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}

.column-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.column-view > input {
  margin-bottom: 1rem;
}

.all-the-images {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.mapped-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid black;
}

.mapped-div > img {
  padding-top: 1rem;
}

.delete-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-title > button {
  height: 2rem;
  border: none;
  background-color: red;
  color: white;
  width: 4rem;
  font-weight: 800;
  margin-left: 1rem;
}

.delete-title > button:hover {
  cursor: pointer;
  background-color: #5856d6;
}

.delete-album {
  height: 2rem;
  border: none;
  background-color: red;
  color: white;
  width: 4rem;
  font-weight: 800;
  margin-left: 1rem;
}
